/**
    * @name Upload Meme
    * @version 1.0
    * @description Changes the Upload Failed, and Upload Modal into the Upload Meme.
    * @author Baka / Mr. Foxtrot#5220
    * @authorId 430507939070083072
    * @updateUrl https://raw.githubusercontent.com/bakabakabakabakabaka/UploadMeme/main/UploadMeme.theme.css
    * @source https://raw.githubusercontent.com/bakabakabakabakabaka/UploadMeme/main/UploadMeme.theme.css
**/


/**
 * Created by Mr. Foxtrot#5220 (430507939070083072)
 * Snippet ID: 795698452100022373
 */

.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .title-2Vtl4y {
font-size: 0px;
}

/*Replace the text with the first half "That was" but no bold*/
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .title-2Vtl4y:before {
content: 'That was';
font-size: 22px;
font-weight: normal;
}

/*Add the second half with italics*/
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .title-2Vtl4y:after {
content: ' fucking gay';
font-size: 22px;
font-style: italic;
}

/*Hide the original file size limit text, also make the width a little smaller*/
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .instructions-2Du9gG {
font-size: 0px;
width: 180px;
}

/*Replace the text with the funny*/
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .instructions-2Du9gG:after {
content: "Don't ever post that bullshit again. You fucking degenerate.";
font-size: 12px;
}
